[user]
	name = Xidorn Quan
	email = me@upsuper.org
	signingkey = 7C9A1209

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = quanxunzhen@gmail.com
	smtpserverport = 587

[protocol]
	version = 2

[github]
	user = upsuper

[push]
	default = simple

[merge]
	tool = mvimdiff -f

[diff]
	tool = vimdiff

[credential]
	helper = osxkeychain

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
