[user]
	name = Xidorn Quan
	email = quanxunzhen@gmail.com
	signingkey = 7C9A1209

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = quanxunzhen@gmail.com
	smtpserverport = 587

[github]
	user = upsuper

[push]
	default = simple
[merge]
	tool = mvimdiff -f
